.card {
    width: 100%;
    max-width: 960px;
    height: fit-content;
    background-color: #184e77;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin: 64px 0;
    padding: 32px 0 64px 0;
    border-radius: 16px;
}

.card-content {
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text{
    font-size: 1.2rem;
}

.card-title {
    color: #d9ed92;
    text-decoration: none;
}

.card-links-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 32px;
}

.justify-center {
    justify-content: center;
}

.card-link {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-image {
    align-self: center;
}

@media only screen and (max-width: 600px) 
{
    .card-content {
        margin: 0 8px;
    }
    .card-links-container {
        flex-direction: column;
        width: auto;
        height: 64px;
        align-items: center;
    }
}