.footer {
    background-color: #184e77;
    padding: 32px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: bold;
    margin: 32px 0;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 32px;
}