.header {
    background-color: #184e77;
    padding: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    z-index: 1;
}

.header-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.header-text {
    font-weight: bold;
    margin: 0;
}

.header-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email {
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px)
{
    .header {
        height: auto;
    }

    .header-content {
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
    }
}

@media only screen and (max-width: 600px) 
{

    .header {
        height: auto;
    }

    .header-content {
        grid-template-columns: 1fr;
    }
    .header-text {
        margin: 16px 0;
    }
}