.landing-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c2c;
    margin: 0;
    overflow: hidden;
    margin-bottom: 64px;
}
.landing-background {
    width: 100%;
    mask-image: linear-gradient(to top, transparent 10%, black);
    position: absolute;
}
.landing-content {
    position: relative;
    background: linear-gradient(to top,#1e6091, #184e77);
    color: white;
    width: 90%;
    height: fit-content;
    max-width: 600px;
    margin-top: 64px;
}
.portrait-wrapper {
    margin-top: 64px;
}
.landing-text {
    margin: 32px;
    font-size: 1.5rem;
    font-weight: bold;
}
.bottom-content {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 18vw;
    margin-top: 65vh;
    width: 80%;
    max-width: 960px;
    text-align: justify;
}
.color-box {
    background-color: #343457;
    color: white;
    background: linear-gradient(to top, transparent 1%, #184e77);
    padding: 0;
}
.color-box p {
    margin: 32px;
    margin-top: 16px;
}
.color-box h4 {
    text-align: center;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) 
{
    .landing-wrapper {
        height: auto;
    }
    .bottom-content {
        position: relative;
        margin-top: 32px;
        grid-template-columns: 1fr;
    }
}