body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

a  {
    color: #99d98c;
}
a:hover {
    color: #d9ed92;
}
h1 {
    font-size: 42px;
}
.fa {
    padding: 3px;
    font-size: 24px !important;
    width: 30px;
    height: 27px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;   
    background-color: #99d98c;
    color: #184e77 !important;
    margin-right: 16px;
    align-content: center;
}
.fa:hover {
    background-color: #d9ed92;
}

.layout-wrapper {
    background-color: #1c1c2c;
    color: white;
}

.layout-header {
    position: relative;
    z-index: 1;
}

.layout-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -1;
}

.layout-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-only {
    display: none;
}

.clip-circle {
    clip-path: circle(50% at 50% 50%);
}


@media only screen and (max-width: 600px) 
{
    .desktop-only {
    display: none;
    }
    .mobile-only {
        display: block;
    }
    .fa {
        margin: 0 8px;
    }
}