
.skills-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c2c;
    margin: 0;
    overflow: hidden;
    margin-bottom: 128px;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    width: 80%;
    max-width: 960px;
    text-align: justify;
}
.skills-content h3 {
    text-align: center;
}

@media only screen and (max-width: 600px) 
{
    .skills-content {
        grid-template-columns: 1fr;
    }
}